.Options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.OptionList {
  display: flex;
  justify-content: space-evenly;
  align-items:baseline;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2em;
  width: 70%;
}

.OptionItem {
  list-style-type: none;
  padding: 2%;
  font-size: 5vh;
}

.FolderSelect {
  float: right;
  padding: 10px;
  height: 1vw;
  width: 15vw;
  margin-top: 1%;
  font-size: large;
  border-radius: 7.5px;
}

.Agro {
  visibility: hidden;
  height: 5vh;
  width: 5vh;
  background-color: #75c5e7;
  font-size: 50%;
  float: right;
  color: white;
  border: 0px;
  border-radius: 7.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Checkbox {
  height: 2.5vh;
  width: 2.5vh;
  background-color: #75c5e7;
  float: right;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Process {
  align-self: end;
  width: 10vw;
  min-width: 70px;
  height: 5vh;
  min-height: 30px;
  align-self:auto;
  background-color: #75c5e7;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer; 
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 7.5px;
  border: 0px;
  color: white;
  transition: transform 0.3s, background-color 0.3s;
}



.Agression {
  align-self: center;
  width: 14vw;
  min-width: 70px;
  height: 5vh;
  min-height: 30px;
  align-self:auto;
  background-color: #75c5e7;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer; 
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 7.5px;
  border: 0px;
  color: white;
  transition: transform 0.3s, background-color 0.3s;
}

.Agression:hover {
  transform: translateY(-5px);
  background-color: blue;
}

.Process:hover {
  transform: translateY(-5px);
  background-color: blue;
}


