.Options {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}
.OptionList {
  display: flex;
  flex-direction: column;
  width: 95%;
  font-size: 16px;
}

.SelectFolder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.75em;
  margin-left: 3.5rem;
  /* outline: 2px solid black; */
}

.FolderSelect {
  overflow: hidden;
  height: 3.5vh;
  width: 5em;
  margin-top: 1em;
  margin-bottom: 0.35em;
  min-height: 30px;
  border-radius: 7.5px;
  border: 0px;
  font-size: large;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-weight: bold;
  background-color: #000000; /* Set background color */
  color: #fff; /* Set text color to white */
  border: none; /* Remove border */
  border-radius: 8px; /* Add rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transitions */
}

.FolderSelect:hover {
  background-color: #139f3a; /* Darker color on hover */
  transform: scale(
    1.05
  ); /* Slight scale increase on hover for interaction effect */
}

.FolderSelect:focus {
  outline: none; /* Remove default focus outline */
  background-color: #0040a6; /* Darker color when button is focused */
}

.DetectionLevel {
  display: flex;
  /* height: 40vh; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 1em; */
  /* outline: 2px solid black; */
}

.DetectionLevelText {
  display: flex;
  height: 10vh;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.DetectionLevelMainText {
  display: flex;
  position: relative;
  align-items: left;
  font-size: 2.5em;
  font-weight: bold;
}

.DetectionLevelSubText {
  display: flex;
  padding-left: 0.25em;
  align-items: left;
  font-size: 0.7em;
}

.DetectionWheelSection {
  width: 800px;
  height: 100%;
}

.DuplicateRemoval {
  display: flex;
  height: 16vh;
  font-size: 1.8em;
  font-weight: bold;
  /* outline: 2px solid black; */
}

.DuplicateRemovalSub {
  display: flex;
  padding-top: 0.3em;
  flex-direction: column;
  justify-content: space-evenly;
  width: 36%;
  align-items: left;
  justify-content: left;
}

.DuplicateRemovalCheckBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0.65em;
  font-weight: 475;
  align-items: center;
  justify-content: space-between;
}
.Agro {
  height: 5vh;
  width: 5vh;
  margin-right: 1em;
  background-color: #75c5e7;
  font-size: 1em;
  color: white;
  border: 0px;
  border-radius: 7.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Checkbox {
  height: 2.5vh;
  width: 2.5vh;
  margin-right: 6.1em;
  background-color: #75c5e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Process {
  width: 7em;
  overflow: hidden;
  height: 3.5vh;
  margin-bottom: 0.35em;
  min-height: 30px;
  border-radius: 7.5px;
  border: 0px;
  background-color: black;
  font-size: large;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.Process span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: -1;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.Process:hover {
  transform: translateY(-2px);
  background-color: rgb(234, 44, 31);
}

.ProcessSection {
  display: flex;
  width: 100vw;
  align-items: center;
}

.Agro:hover {
  transform: translateY(-2px);
  background-color: blue;
}
