.Options {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  align-items: flex-start;
}

.Sort {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  overflow: hidden;
  height: 3.5vh;
  min-height: 30px;
  border-radius: 7.5px;
  border: 0px;
  background-color: black;
  font-size: large;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-top: 10px;
}

.Sort:hover {
  animation: shake 0.15s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3px);
  }
}

.SelectFolderText {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 10px;
  margin-left: 69px;
}

.FolderSelect {
  margin-left: 80px;
  padding: 8px 15px;
  background-color: #000000;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.folderPath {
  font-size: medium;
  margin-left: 80px;
}

.FolderSelect:hover {
  background-color: #139f3a;
  transform: scale(1.05);
}

.FolderSelect:focus {
  outline: none;
  background-color: #0040a6;
}

.DetectionLevel {
  display: flex;
}

.DetectionLevelText {
  display: flex;
  height: 10vh;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  margin-top: 120px;
}

.DetectionLevelMainText {
  display: flex;
  position: relative;
  align-self: flex-start;
  font-size: 2.5em;
  font-weight: bold;
}

.DetectionLevelSubText {
  display: flex;
  padding-left: 0.25em;
  align-items: left;
  font-size: 1em;
  padding-right: 100px;
}

.DarkModeButton {
  position: absolute;
  top: 10vh;
  right: 100px;
}

.DetectionWheelSection {
  width: 800px;
  height: 100%;
}

.DuplicateRemoval {
  display: flex;
  height: 16vh;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: -70px
}

.DuplicateRemovalSub {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 36%;
  align-items: left;
  justify-content: left;
}

.DuplicateRemovalCheckBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0.65em;
  font-weight: 475;
  align-items: center;
  justify-content: space-between;
}
.Agro {
  height: 5vh;
  width: 5vh;
  margin-right: 1em;
  background-color: #75c5e7;
  font-size: 1em;
  color: white;
  border: 0px;
  border-radius: 7.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Checkbox {
  height: 2.5vh;
  width: 2.5vh;
  margin-right: 6.1em;
  background-color: #75c5e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Process {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  overflow: hidden;
  height: 3.5vh;
  min-height: 30px;
  border-radius: 7.5px;
  border: 0px;
  background-color: black;
  font-size: large;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  margin-right: 80px;
}
.Process span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.Process:hover {
  transform: scale(0.95);
  background-color: rgb(234, 44, 31);
}

.ProcessSection {
  display: flex;
  flex-direction: row;
  margin-top: 0.3em;
  width: 100vw;
  height: 2rem;
  align-items: center;
}

.Agro:hover {
  transform: translateY(-2px);
  background-color: blue;
}

.RectangleContainer {
  position: relative;
  left: 15%;
  top: -250px;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.GreyRectangle {
  width: 110px;
  height: 130px;
  background-color: #000000;
  margin: 15px;
  border-radius: 10px;
}

.ExampleText {
  position: absolute;
  top: auto;
  left: 30%;
  top: -35%;
  text-align: center;
}

.ExampleImage {
  width: 100%;
  border-radius: 10px;
}

.ExampleImage.slow-load {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.folderPath {
  font-size: medium;
  margin-top: 2rem;
}
