:root {
    background: #FCEFEF;
}

body {
    margin: 0;
    padding: 0;
}

.circle {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }